/*!
 * Stylesheet for count-up
 * Description: Count up for my April girl
 * Copyright (C) 2017-present Anh Tranngoc
 * This file is distributed under the same license as the count-up package.
 * Anh Tranngoc <naa@sfc.wide.ad.jp>, 2017.
 */

/*
Declaration order
- position
- display and box model
- font, leading, color, text,
- background and border
- css3 properties like border-radius, box-shadow
- a handful of other purely visual properties
*/

// Colours
$text-default: #555;
$white: #fff; // Confusing, but in some cases, this can be set to a dark color
$bg-blue: #44bbf3;
$bg-selection: #b3d4fc;

// Other variables
$img-path: '../img/';
$screen-medium: 48em;
$screen-large: 70em;

// Font families
$serif: "Palatino Linotype", "Book Antiqua", Palatino, serif;
$sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", sans-serif;
$monospace: Menlo, Monaco, Consolas, "Courier New", monospace;

// Media queries mixins
@mixin respond-min ($width) {
    @media screen and (min-width: $width) {
        @content;
  }
}

html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    line-height: 1.75;
    font-family: $sans-serif;
    font-size: 1rem;
    font-weight: normal;
    color: $text-default;
    background: $white;

    // don't active mobile styles for larger screens
    @include respond-min($screen-medium) {
        min-width: $screen-medium;
    }
}

::selection {
    background: $bg-selection;
}

h1 {
    font-size: 1.75rem;
    text-align: center;
}

.countdown {
    text-align: center;
    line-height: 1;

    .countdown-container {
        display: inline-block;
        text-align: center;
        font-family: $sans-serif;
        font-size: 2rem;

        > div {
            display: inline-block;
            padding: 10/16 + rem;
            margin-bottom: .5rem;
            color: $white;
            background: lighten($bg-blue, 10%);
            border-radius: .25rem;
        }
        div > span {
            display: inline-block;
            padding: 1rem;
            font-weight: 500;
            background: darken($bg-blue, 15%);
            border-radius: .25rem;
        }

        .small-text {
            padding-top: .5rem;
            font-size: 1rem;
        }
    }
}
